body{
   background-color: #e5eaec;
}
.navbar{
    background-color: #daf3ef;
}
.main{
    background-color: white;
    margin: 30px;
    border-radius: 20px;
}
.btn-publish {
    float: right;
    margin-bottom: 15px;
}
.media-object {
    width: 40px;
    height: 40px;
}
/* 问题中显示回复浏览发布时间等信息的样式 */
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #928b88;
}

a.list-group-item {
    border-style: none !important;
}

.list-group .active, .list-group-item.active:hover{
    background-image: linear-gradient(to bottom,#2ecfc8 0,#28a6ac 100%);
}
.mouse-hover:hover{
    color: #28a6ac;
    text-decoration: none;
}
.comment-a {
    color: #c0c3c6;
    cursor: pointer;
}
.comment-a:hover {
    color: #2ecfc8;
}
.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon {
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon :hover {
    color: #499ef3;
}

.menu .active {
    color: #499ef3;
}

.menu .icon:hover {
    color: #499ef3;
}
.a-hover:hover {
    background-color: #baeae9 !important;
    color: #2aabd2 !important;
}
a.list-group-item, button.list-group-item{
    color: #0ce3e3 !important;
}
.list-group{
    box-shadow: 0 0 0 0 !important;
}