<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commonCode::common_head('慕斯社区')}">
    <title></title>
</head>
<body>
<!-- 导航栏 -->
<div th:replace="commonCode::common_navigation"></div>
<!-- 主体 -->
<div class="container-fluid main">
    <div class="row" >
        <div class="col-lg-9 col-md-12 col-xs-12 col-sm-12">
            <h3 ><span class="glyphicon glyphicon-th-list" aria-hidden="true" > 发现</span></h3>
            <hr>
            <div class="media" th:each="question : ${questions}">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.user.avatarUrl}" alt="" src="">
                    </a>
                </div>
                <div class="media-body">
                    <a th:href="@{/question/{id}(id=${question.question.id})}" class="mouse-hover">
                        <h4 class="media-heading" th:text="${question.question.title}">快速开始</h4>
                    </a>
                    [[${question.question.description}]]<br/>
                    <span class="text-desc">
                        • [[${question.question.commentCount}]]个回复 • [[${question.question.viewCount}]]次浏览 • 于[[${#dates.format(question.question.gmtModified,'yyyy年MM月dd日HH时')}]]发布
                    </span>
                </div>
            </div>
            <!-- 分页 -->
            <nav aria-label="Page navigation" style="text-align: center">
                <ul class="pagination" >
                    <!-- 跳转到所在页的前一页和第一页 -->
                    <li th:if="${current != 1}">
                        <a  aria-label="Previous" th:href="@{/(current=1)}" >
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <a th:href="@{/(current=${current.longValue()-1})}">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <!-- 遍历出所在页的前三页到后三页 -->
                    <li  th:class="${x == current} ? active : ''" th:each=" x : ${#numbers.sequence(((current.longValue()-3)>0 ? current.longValue()-3:1),((current+3)>pageCount ?pageCount:current+3))}">
                        <a  th:href="@{/(current=${x})}"  th:text="${x}">1</a>
                    </li>
                    <!-- 跳转到所在页的后一页和最后一页 -->
                    <li th:if="${current != pageCount}">
                        <a th:href="@{/(current=${current+1})}">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                        <a aria-label="Next" th:href="@{/(current=${pageCount})}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--  -->
        <div class="col-lg-3 col-md-12 col-xs-12 col-sm-12" style="margin-top: 20px">
            <h3 style="text-align: center">热门话题</h3>
        </div>
    </div>
</div>
</body>
</html>