<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commonCode::common_head('慕斯社区')}">
    <title></title>
</head>
<body>
<script type="application/javascript">
    window.onload = function () {
        let closable = window.localStorage.getItem("closable");
        if (closable === "true") {
            window.close();
            window.localStorage.removeItem("closable");
            window.localStorage.setItem("reload", "true");
        }
    }
</script>
<!-- 导航栏 -->
<div th:replace="commonCode::common_navigation"></div>
<!-- 主体 -->
<div class="container-fluid main">
    <div class="row" style="background-color: #e5eaec">
        <!-- 左侧问题列表 -->
        <div class="col-lg-8 col-md-12 col-xs-12 col-sm-12"  style="background-color: white;padding-left: 30px;border-radius: 15px;margin-left: 40px">
            <h3><span class="glyphicon glyphicon-th-list" aria-hidden="true"> 发现</span></h3>
            <hr>
            <!-- 问题 -->
            <div class="media" th:each="question : ${questions}">
                <!-- 头像 -->
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.user.avatarUrl}" alt="" src="">
                    </a>
                </div>
                <!-- 问题描述 -->
                <div class="media-body">
                    <a th:href="@{/question/{id}(id=${question.question.id})}" class="mouse-hover">
                        <h4 class="media-heading" th:text="${question.question.title.length() > 20 ?question.question.title.substring(0,19)+'...' : question.question.title}">快速开始</h4>
                    </a>
                    [[${question.question.description}]]<br/>
                    <span class="text-desc">
                        • [[${question.question.commentCount}]]个回复 • [[${question.question.viewCount}]]次浏览 • 于[[${#dates.format(question.question.gmtModified,'yyyy年MM月dd日HH时')}]]发布
                    </span>
                    <!-- 标签 -->
                    <span class="glyphicon glyphicon-tag label label-info" style="margin-right: 10px" th:text="' '+${tagName}" th:each="tagName : ${question.question.tag.split(',')}">hh</span>
                </div>
            </div>
            <!-- 分页 -->
            <nav aria-label="Page navigation" style="text-align: center">
                <ul class="pagination">
                    <!-- 跳转到所在页的前一页和第一页 -->
                    <li th:if="${current != 1}">
                        <a aria-label="Previous" th:href="@{/(current=1)}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <a th:href="@{/(current=${current.longValue()-1})}">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <!-- 遍历出所在页的前三页到后三页 -->
                    <li th:class="${x == current} ? active : ''" th:each=" x : ${#numbers.sequence(((current.longValue()-3)>0 ? current.longValue()-3:1),((current+3)>pageCount ?pageCount:current+3))}">
                        <a th:href="@{/(current=${x})}" th:text="${x}">1</a>
                    </li>
                    <!-- 跳转到所在页的后一页和最后一页 -->
                    <li th:if="${current != pageCount}">
                        <a th:href="@{/(current=${current+1})}">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                        <a aria-label="Next" th:href="@{/(current=${pageCount})}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- 右侧热门话题 -->
        <div class="col-lg-3  col-md-12 col-xs-12 col-sm-12" style="background-color: white;border-radius: 15px;margin-left: 40px">
            <h3 style="text-align: center">热门话题</h3>
            <div class="list-group">
                <a href="#" class="list-group-item a-hover" th:each="hotQuestion,c : ${hotTopic}">
                    <span th:text="${hotQuestion.title}"></span>
                    <span th:class="${c.index < 3 } ? 'glyphicon glyphicon-fire':''" style="float: right;color: #fc2562"></span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>