<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commonCode::common_head('发布问题-慕斯社区')}">
    <title></title>
</head>
<body>
<!-- 导航栏 -->
<div th:replace="~{commonCode::common_navigation}"></div>
<!-- 发布页 -->
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-xs-12 col-sm-12">
            <h3><span class="glyphicon glyphicon-edit" aria-hidden="true" th:if="${question!= null && question.id != null}">修改问题</span></h3>
            <h3><span class="glyphicon glyphicon-plus" aria-hidden="true" th:unless="${question!= null && question.id != null}">发起问题</span></h3>
            <hr>
            <h4 style="color:red;text-align: center">[[${error}]]</h4>
            <form th:action="@{/publish}" method="post">
                <input type="hidden" th:value="${question != null ? question.id : ''}" name="id">
                <div class="form-group">
                    <label for="title">问题标题</label>
                    <input type="text" autocomplete="off" class="form-control" th:value="${question!=null?question.title:''}" name="title" id="title" placeholder="请输入问题标题...">
                </div>
                <div class="form-group">
                    <label for="description">问题描述(必填)</label>
                    <textarea class="form-control" rows="10" th:text="${question!=null?question.description:''}" name="description" id="description" cols="30"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <div class="input-group col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <input type="text"
                               name="tag"
                               id="tag"
                               placeholder="输入标签，标签之间以逗号隔开"
                               autocomplete="off"
                               class="form-control"
                               onfocus="showSelectTag()"
                               th:value="${question!=null?question.tag:''}"
                        >
                        <div class="input-group-addon" style="color: red;background-color: white;border-left: 0;" onclick="clearTag()">
                            <span class="glyphicon glyphicon-remove"></span>
                        </div>
                    </div>
                    <div id="select-tag" style="display: none" onblur="hiddenSelectTag()">
                        <!-- 标签分类 -->
                        <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 15px;" >
                            <li role="presentation" th:class="${start.first}?'active':''" th:each="tag,start: ${tags}">
                                <a role="tab"
                                   data-toggle="tab"
                                   th:href="@{${'#'+tag.categoryName}}"
                                   th:aria-controls="${tag.categoryName}"
                                   th:text="${tag.categoryName}">Home
                                </a>
                            </li>
                        </ul>
                        <!-- 标签列表 -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane " th:classappend="${start.first}?'active':''"  th:id="${tag.categoryName}" th:each="tag,start: ${tags}">
                                <span style="margin-right: 10px"
                                      class="label label-info glyphicon glyphicon-tag"
                                      onclick="selectTag(this)"
                                      th:each="tagName : ${tag.tags}"
                                      th:text="' '+${tagName}"
                                      th:data-tag="${tagName}">spring
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-publish">发布</button>
            </form>
        </div>
        <!-- 问题指南 -->
        <div class="col-lg-3 col-md-12 col-xs-12 col-sm-12" style="margin-top: 20px">
            <h3 style="text-align: center">问题发起指南</h3>
            <ul>
                <li>问题标题：请使用精简的语言描述您发布的问题，请不要超过25字</li>
                <li>问题描述：详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关资料</li>
                <li>选择标签：选择一个或多个适合的标签，使用逗号隔开，每个标签不超过10字</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>