<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commonCode::common_head('问题详情-慕斯社区')}">
    <title></title>
</head>
<body>
<!-- 导航栏 -->
<div th:replace="commonCode::common_navigation"></div>
<!-- 主体 -->
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-xs-12 col-sm-12 " style="padding-left: 50px;padding-bottom: 30px">
            <h3><span  aria-hidden="true" th:text="${questionDTO.question.title}"> 我关注的问题</span></h3>
            <h4 class="text-desc">
                <span th:text="${questionDTO.question.tag}" style="background-color: #dbcfcf"></span>
                | 作者 <a th:href="@{/}" th:text="${questionDTO.user.name}"></a>
                | 发布时间于[[${#dates.format(questionDTO.question.gmtCreate,'yyyy年MM月dd日')}]]
                | 阅读数：[[${questionDTO.question.viewCount}]]
            </h4>
            <hr>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 " th:text="${questionDTO.question.description}"></div>
            <br>
            <hr>
            <a th:href="@{/publish/{id}(id=${questionDTO.question.id})}" th:if="${session.user != null && session.user.id == questionDTO.user.id}">
                <span class="glyphicon glyphicon-pencil text-desc mouse-hover" style="font-size: 14px">编辑</span>
            </a>
            </div>
        <!-- 右侧列表 -->
        <div class="col-lg-3 col-md-12 col-xs-12 col-sm-12" style="margin-top: 20px;border-left:1px #d9c0c0 solid ">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding-left: 30px">
                <h4 style="color:#7ae0d2;">发起人</h4>
                <img class="img-circle" th:src="${questionDTO.user.avatarUrl}" alt="" src="" width="30px" height="30px" >
                &nbsp;<span th:text="${questionDTO.user.name}" style="font-size: 18px"></span>
                <br>
            </div>
            <hr class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 " style="padding-left: 30px">
               <h4 style="color:#7ae0d2;">相关问题</h4>
            </div>
        </div>
    </div>
</div>
</body>
</html>